body {
    font-family: 'Dosis', sans-serif;
}
section {
    margin: 30px 10px;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(12, fr);
    grid-gap: 15px;
}
.col-4 {
    grid-column: span 4;
    text-align: center;
    justify-content: center;
    background-color: #b3b3ff;
}
.col-4-1 {
    background-color: white;
}
.col-8 {
    grid-column-start: 5;
    grid-column-end: 13;
    text-align: center;
    justify-content: center;
}
img {
   border-radius: 100px;
   border: 2px solid black;
   width: 300px;
}
.mainInfo img {
    width: 50%;
}
ul {
    list-style: none;
}
h1,
h2 {
    border-bottom: 3px solid black;
    border-radius:8px; 
}
li{
    text-align: left;
}
progress {
    background-color: #e6e6ff;
}
.column-3 {
    column-count: 3;
    column-gap: 10px;
    text-align: center;
    justify-content: center;
}
.column-2 {
    column-count: 2;
}
.portfolio a {
    text-align: center;
}
.firstline {
    margin-top: 0px;
}
/*.mainInfo,
.skills,
.addition {
    background-color: #6666ff;
} */